.Tabs {
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    position: relative;
    @media (max-width: 575px) {
        margin-bottom: 120px;
    }
}

.ant-radio-group {
    @media (max-width: 575px) {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
}

.ant-radio-button-wrapper {
    @media (max-width: 575px) {
        width: 100% !important;
    }
}

