.app {
    max-width: 754px;
    margin: 160px auto 50px auto;
    width: 90%;
    font-family: 'Open Sans' sans-serif;
}
.wrapper {
    display: grid;
    grid-template-columns: 232px 502px;
    grid-column-gap: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    }
