.container {
    background-color: #FFFFFF;
    width: 232px;
    height: 272px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px rgba(34, 60, 80, 0.2);
    padding-top: 20px;
    @media (max-width: 815px) {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
    }
}

.title {
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 12px;
    font-size: 12px;
    @media (max-width: 815px) {
        text-align: center;
    }
}

.list {
    margin-bottom: 0;
    @media (max-width: 815px) {
            display: flex;
            flex-wrap: wrap;
        }
}