.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    position: relative;
}

.transfers {
    width: 141px;
}