.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    position: relative;
}

.direction, .duration, .transfers {
    width: 30%;
}
.transfers {
    @media (max-width: 400px) {
        margin-top: 20px;
    }
}
.psEl {
    position: absolute;
    color: #A0B0B9;
    font-size: 12px;
    top: -18px;
    font-weight: 400;
}